* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #190137;
  background-color: #f7f5e9;
}

/* Media Queries: Tablet Landscape
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary, #tertiary { width:30%; margin-left:3%;}

} */

/* Media Queries: Tabled Portrait */
/* @media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary, #tertiary { width:100%; margin:0; border:none; }
} */

@media screen and (max-width: 1024px) {
  .form {
    margin: 20px;
  }

  #contact-photo, #form-width, #accolades {
    width: fit-content;
  }

  #grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #weekly, #seasonal {
    width: 70%;
    margin: 1em;
  }
}

@media screen and (max-width: 414px) {
  #secondary {
    margin: 4em 0;
  }

  #ocm-logo {
    width: 20vh;
    margin: 0;
  }

  #carouselExampleIndicators{
    width: 85%;
    margin: 4em auto;
  }

  #nav {
    font-size: .8em;
    margin: 2em 0;
  }

  #buttons a {
    border: 1.5px solid #190137;
    font-size: .8em;
    margin: 0 .5em;
    text-align: center;
  }

  #tertiary h1{
    font-size: 1em;
  }

  #tertiary i{
    font-size: .8em;
  }

  #tertiary .medias-div{
    margin: 2em;
  }

  #tertiary hr{
    width: 75%;
  }

  #team-header {
    font-size: 1.2em;
  }

  #members {
    font-size: .8em;
    margin: 0;
  }

  #pipe {
    font-size: 1.5em;
  }

  #accolades ul {
    padding: 0 15px;
  }

  #hey {
    margin: .5em 0;
    font-size: 2em;
  }

  #form {
    display: block;
  }

  #contact-photo {
    margin: 0 0 2em 0;
    padding: 0;
  }

  #form-width, #contact-photo-div {
    padding: 0;
  }

  #phone {
    width: 50%;
    margin: 3em auto;
  }

  #arch-header, #seasonal-header, #hort-header {
    font-size: 1.5em;
  }

  #weekly, #seasonal {
    width: fit-content;
    margin: 1em;
  }

  #weekly h4, #seasonal h4{
    font-size: 1.3em;
  }

  #weekly ul {
    padding: 0 10px;
  }

  #seasonal ul{
    padding: 0 25px;
  }

  #ocm-symbol img{
    width: 10em;
    padding: 0 0 2em 0;
  }

  .paragraph h3 {
    font-size: 1.3em;
  }

  #seasonal-symbol img {
    width: 24em;
  }

  #arch-symbol img{
    width: 3em;
  }

  #dropdown {
    top: 10em;
    left: 2em;
  }

  #dropdown li {
    padding: 5px;
  }
}

@media screen and (max-width: 375px) {

  #secondary {
    margin: 4em 0;
  }

  #ocm-logo {
    width: 15vh;
  }

  #hey {
    margin: .5em 0;
    font-size: 2em;
  }

  #form {
    display: block;
  }

  #contact-photo {
    margin: 0 0 2em 0;
    padding: 0;
  }

  #form-width, #contact-photo-div {
    padding: 0;
  }

  #phone {
    width: 50%;
    margin: 3em auto;
  }

  #nav .nav{
    margin: 0;
  }

  #nav li {
    padding: 10px;
  }

  #dropdown li {
    padding: 5px;
  }

  #dropdown {
    top: 8em;
    right: 1.7em;
  }

  #team-header {
    font-size: 1.2em;
  }

  #members {
    font-size: .8em;
    margin: 0;
  }

  #pipe {
    font-size: 1.5em;
  }

  #accolades ul {
    padding: 0 15px;
  }

  #buttons a {
    border: 1.5px solid #190137;
    font-size: .8em;
    margin: 0 .5em;
    text-align: center;
  }

  #tertiary h1{
    font-size: 1em;
  }

  #tertiary i{
    font-size: .8em;
  }

  #tertiary .medias-div{
    margin: 2em;
  }

  #arch-symbol img{
    width: 3em;
  }

  #arch-header, #seasonal-header, #hort-header {
    font-size: 1.5em;
  }

  #weekly, #seasonal {
    width: fit-content;
    margin: 1em;
  }

  #weekly h4, #seasonal h4{
    font-size: 1.3em;
  }

  #weekly ul {
    padding: 0 10px;
  }

  #seasonal ul{
    padding: 0 25px;
  }

  #ocm-symbol img{
    width: 10em;
    padding: 0 0 2em 0;
  }

  .paragraph h3 {
    font-size: 1.3em;
  }

  #seasonal-symbol img {
    width: 24em;
  }

}

@media (max-width: 640px) { body {font-size:.8rem;} }
@media (min-width:960px) { body {font-size:1rem;} }
@media (min-width:1100px) { body {font-size:1.2rem;} }

html { font-size:100%; }

h1 {
  font-family: 'Anton', sans-serif;
  margin: 1em 0;
}

header, footer {
  text-align: center;
}

footer {
  margin: 3em 0;
}

hr {
  width: 55%;
}

footer i {
  padding: 5px;
}

img { max-width: 100%; height: auto; }

.paragraph {
  margin: 0 auto;
  width: 70%;
  line-height: 2;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 0 3em 0;
  padding: 0;
}

.nav li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 15px;
}

#dropdown li {
  background: transparent;
}

a {
  text-decoration: none;
  color: #190137;
}

a:visited {
  text-decoration: none;
  color: #190137;
}

#dropdown {
  display: none;
  position: absolute;
  line-height: .5;
}

li:hover #dropdown {
  display: block;
  background: transparent;
}

a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #190137;
}

.ocm-logo {
  margin: 1em 6em;
}

.home-carousel {
  width: 70%;
  margin: 0 auto;
}

.medias-div {
  margin: 3em;
  font-size: 1.3em;
}

.medias-div h1 {
  font-size: 1.3em;
}

.medias-div:first-of-type(div) {
  margin: 2em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 4em;
}

.buttons a {
  border: 2px solid #190137;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.buttons a:hover {
  text-decoration: none;
  border: 2px solid #190137;
  color: #f7f5e9;
  background: #190137;
  transition: .6s;
  ;
}

.column {
  display: flex;
  flex-direction: column;
  width: 48.5%
}

.name {
  display: flex;
}

.column input {
  width: 95%;
}

.column span {
  font-size: 13px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

.form legend {
  font-size: 18px;
}

.form div {
  margin: 0 0 25px 0;
}

.form-padding {
  padding: 30px;
}

.form-width {
  width: 70%;
}

.bold {
  font-weight: bolder;
}

.form img {
  padding-top: 40px;
  width: 65%;
}

.justify-img {
  display: flex;
  justify-content: flex-end;
}

.form input, textarea {
  border-bottom: black solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  width: 95%;
  outline: none;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit input{
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  border: none;
  border: 2px solid #a18cb6;
  width: max-content;
  padding: 10px 20px;
  box-shadow: #a18cb68a 5px 5px;
  color: #a18cb6;
}

.submit input:hover {
  background-color: #a18cb6;
  color: #f7f5e9;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "weekly seasonal";
}
.seasonal { grid-area: seasonal; }
.weekly {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "lists";
  grid-area: weekly;
}
.lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
  grid-area: lists;
  padding: 15px;
}

.weekly, .seasonal {
  border: 2px solid #302e07;
  margin: 10px;
  border-radius: 3px;
  box-shadow: #2f2d06 2px 1px 5px 1px;
}

.desc {
  text-align: center;
}

.desc h4 {
  background: #32300b;
  color: #f7f5e9;
  padding: 15px;
  margin: 0;
}

.desc p {
  background: #64630eb5;
  color: #f7f5e9;
  padding: 15px;
}

.margin-bottom {
  margin-bottom: 2em;
}

.team-pic {
  display: flex;
  justify-content: center;
}

.team {
  text-align: center;
  margin: 25px;
}

.team p {
  font-size: 17px;
  margin: 1em;
}

.team span {
  font-weight: bolder;
  font-size: 22px;
}

.seasonal-gallery, .hort-gallery, .arch-gallery{
  text-align: center;
}

.seasonal-gallery img{
  width: 18%;
  padding: 10px;
}

.hort-gallery img{
  width: 30%;
  padding: 15px;
}

.arch-gallery img {
  padding: 5px;
  width: 30%;
  z-index: 1;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  padding: 15px;
  border-top: 15px solid #4a2d6ad6;
}

.team h2 {
  font-family: 'Anton', sans-serif;
  font-size: 1.7em;
}
.accolades {
  margin: 2em auto;
  border: 2px solid #190137;
  border-radius: 3px;
  box-shadow: #19013799 2px 1px 5px 1px;
  width: 55%;
}

.center-align {
  text-align: center;
}

.accolades h2 {
  font-size: 1.5em;
  background: #190137;
  color: #f7f5e9;
  padding: 15px;
  margin: 0;
}

.tag {
  font-family: 'Anton', sans-serif;
  font-size: 1.2em;
}

.underline {
  border-bottom: black solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  width: max-content;
  margin: 0 auto;
}

.phone {
  width: 20%;
  margin: 0 auto;
  border: black solid 2px;
  border-radius: 2px;
  font-size: 1.2em;
  padding: 20px;
}

.phone p, .phone h3 {
  text-align: center;
  margin: 0;
}

.phone a:hover {
  text-decoration: underline;
}

.arch-symbol img{
  width: 6em;
  transform: rotate(120deg);
}

.arch-symbol2 {
  display: flex;
  justify-content: flex-end;
}

.arch-symbol2 img{
  width: 6em;
  transform: rotate(290deg);
}

.ocm-symbol {
  text-align: center;
}

.ocm-symbol img {
  width: 15em;
  padding: 2em 0 4em 0;
}

.seasonal-symbol img {
  width: 6em;
  transform: rotate(-90deg);
}

.seasonal-list {
  display: flex;
  align-items: center;
}

/* .seasonal-list li{
  list-style: none;
} */

.seasonal-list ul {
  padding: 0;
}
