* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #190137;
  background-color: #f7f5e9;
}

h1 {
  font-family: 'Anton', sans-serif;
  margin: 1em 0;
}

header, footer {
  text-align: center;
}

footer {
  margin: 3em 0;
}

hr {
  width: 55%;
}

footer i {
  padding: 5px;
}

.paragraph {
  margin: 0 auto;
  width: 70%;
  line-height: 2;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 0 3em 0;
  padding: 0;
}

.nav li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #190137;
}

a:visited {
  text-decoration: none;
  color: #190137;
}

#dropdown {
  display: none;
  position: absolute;
  top: 18%;
  left: 27.5%;
  line-height: .5;
}

li:hover #dropdown {
  display: block;
  background: transparent;
}

a:hover {
  text-decoration: none;
  font-weight: bolder;
}

#ocm-logo {
  width: 20em;
  margin: 1em 6em;
}

.home-carousel {
  width: 70%;
  margin: 0 auto;
}

.medias-div {
  margin: 3em;
  font-size: 1.3em;
}

.medias-div h1 {
  font-size: 1.3em;
}

.medias-div:first-of-type(div) {
  margin: 2em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 4em;
}

.buttons a {
  border: 2px solid #190137;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.buttons a:hover {
  text-decoration: none;
  border: 2px solid #190137;
  color: #f7f5e9;
  background-color: #190137;
}

.column {
  display: flex;
  flex-direction: column;
  width: 48.5%
}

.name {
  display: flex;
}

.column input {
  width: 95%;
}

.column span {
  font-size: 13px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

.form legend {
  font-size: 18px;
}

.form div {
  margin: 0 0 25px 0;
}

.form-padding {
  padding: 30px;
}

.form-width {
  width: 70%;
}

.bold {
  font-weight: bolder;
}

.form img {
  padding-top: 40px;
  width: 65%;
}

.justify-img {
  display: flex;
  justify-content: flex-end;
}

.form input, textarea {
  border-bottom: black solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  width: 95%;
  outline: none;
}

.submit input{
  border: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "weekly seasonal";
}
.seasonal { grid-area: seasonal; }
.weekly {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "lists";
  grid-area: weekly;
}
.lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
  grid-area: lists;
  padding: 15px;
}

.weekly, .seasonal {
  border: 2px solid #302e07;
  margin: 10px;
  border-radius: 3px;
  box-shadow: #2f2d06 2px 1px 5px 1px;
}

.desc {
  text-align: center;
}

.desc h4 {
  background: #32300b;
  color: #f7f5e9;
  padding: 15px;
  margin: 0;
}

.desc p {
  background: #64630eb5;
  color: #f7f5e9;
  padding: 15px;
}

.margin-bottom {
  margin-bottom: 2em;
}

.team-container img {
  width: 70%;
  margin-left: 11em;
}

.team-container {
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

.team {
  margin: 3em;
}

.team div {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.team h2 {
  border-bottom: black solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  width: fit-content;
}

.seasonal-gallery, .hort-gallery, .arch-gallery{
  text-align: center;
}

.seasonal-gallery img{
  width: 18%;
  padding: 10px;
}

.hort-gallery img{
  width: 30%;
  padding: 15px;
}

.arch-gallery img {
  padding: 5px;
  width: 30%;
}
